{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Actus{% endblock %}

{% block body %}
    <div id="news">

    </div>
{% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('news') }}{% endblock %}
